version: "3.8"

services: 
  minecraft-server:
    image: itzg/minecraft-server:java8
    container_name: minecraft
    ports:
      - "25565:25565"
    volumes: 
      - ./data:/data
    environment:
      EULA: "TRUE"
      REPLACE_ENV_VARIABLES: "TRUE"

      VERSION: "1.17.1"
      ONLINE_MODE: "FALSE"

      SERVER_NAME: "TNSV"
      DIFFICULTY: "normal"
      PVP: "TRUE"
      OPS: "ntxtung"
      MOTD: "Hello world!"

      ENABLE_RCON: "true"
      RCON_PASSWORD: "Admin@123"
      RCON_PORT: 25575

      ENABLE_QUERY: "TRUE"
      QUERY_PORT: "25565"
      
    restart: unless-stopped

  rcon:
    image: itzg/rcon
    container_name: rcon
    environment:
      RWA_USERNAME: admin
      RWA_PASSWORD: admin
      RWA_ADMIN: "TRUE"
      # is referring to the hostname of 'mc' compose service below
      RWA_RCON_HOST: "minecraft-server"
      # needs to match the password configured for the container, which is 'minecraft' by default
      RWA_RCON_PASSWORD: Admin@123
    ports:
      - 4326:4326
      - 4327:4327

volumes: 
  mc:
  rcon:

